# -*- protobuffer -*-
# proto-file: google3/devtools/kokoro/config/proto/build.proto
# proto-message: BuildConfig
# Location of the bash script. Should have value <git_on_borg_scm.name>/<path_from_repository_root>.
# git_on_borg_scm.name is specified in the job configuration (next section).
timeout_mins: 1080
env_vars {
  key: "IMAGE_TYPE"
  value: "s8s"
}
env_vars {
  key: "IMAGE_VERSION"
  value: "1.2"
}
env_vars {
  key: "OS_VERSION"
  value: "Debian12"
}
env_vars {
  key: "GLUTEN_BRANCH"
  value: "dataproc-branch-1.4"
}
env_vars {
  key: "VELOX_BRANCH"
  value: "dataproc-branch-1.4"
}
env_vars {
  key: "PUBLISH_JARS_TO_AR"
  value: "no"
}
env_vars {
  key: "PUBLISH_JARS_TO_GCS"
  value: "yes"
}
env_vars {
  key: "JAVA_VERSION"
  value: "Java17"
}
env_vars {
  key: "SPARK_VERSION"
  value: "3.5.3"
}
env_vars {
  key: "SCALA_VERSION"
  value: "2.12"
}
build_file: "incubator-gluten/kokoro/kokoro_build.sh"